body {
  max-width: 40em;
  margin: 0 auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Georgia",sans-serif;
  font-size: 20px;
}`

header#banner {
  text-align: center;
  padding: 10px 0;
}

/*
	Body
*****************/
header#banner,
#content {
  padding: 0 15px;
  background: #fff;
  overflow: hidden;
}

article {
  margin-bottom: 1em;
}

article h1 {
  margin: 1.5em 0 0.5em;
  font-size: 2em;
}

article blockquote {
  margin-left: 0.5em;
  padding-left: 1em;
  font-style: italic;
}

article h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

article h2 + abbr {
  color: #444;
}

article p, 
article li {
  margin: 1em 0;
  line-height: 1.6;
}

article + hr {
  color: #ccc;
}

.paginator {
  text-align: center;
}
